html,
body,
#defaultCanvas0 {
    display: block;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}